a.logo:before {
    content: "";
    position: absolute;
    width: 250px;
    height: 15px;
    background-color: rgba(255,255,255,0.5);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: searchLights 2s ease-out 1s infinite;
    -o-animation: searchLights 2s ease-out 1s infinite;
    animation: searchLights 2s ease-out 1s infinite;
}